:root{
    --blue: hsl(246, 80%, 60%);
    --lightRedWork: hsl(15, 100%, 70%);
    --softBluePlay: hsl(195, 74%, 62%);
    --lightRedStudy: hsl(348, 100%, 68%);
    --limeGreenExercise: hsl(145, 58%, 55%);
    --violetSocial: hsl(264, 64%, 52%);
    --softOrangeSelfCare: hsl(43, 84%, 65%);
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--veryDarkBlue);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
    height: auto;
}

.tittle{
    background-color: var(--darkBlue);
    border-radius: 15px;
    margin: 0 auto 30px;
}

.report{
    background-color: var(--blue);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.report img{
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50px;
    border: solid 2px white;
}

.report p{
    color: var(--paleBlue);
    font-size: 15px;
    margin: 0;
}

.report h1{
    color: white;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}

.frecuency{
    display: flex;
    justify-content: space-around;
    color: var(--desaturatedBlue);
    font-size: 18px;
    font-weight: 400;
}

.w{
    color: whitesmoke;
}

.work{
    background-image: url('./images/icon-work.svg');
    background-repeat: no-repeat;
    background-color: var(--lightRedWork);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px;
}

.play{
    background-image: url('./images/icon-play.svg');
    background-repeat: no-repeat;
    background-color: var(--softBluePlay);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px;    
}

.study{
    background-image: url('./images/icon-study.svg');
    background-repeat: no-repeat;
    background-color: var(--lightRedStudy);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px; 
}

.exercise{
    background-image: url('./images/icon-exercise.svg');
    background-repeat: no-repeat;
    background-color: var(--limeGreenExercise);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px; 
}

.social{
    background-image: url('./images/icon-social.svg');
    background-repeat: no-repeat;
    background-color: var(--violetSocial);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px; 
}

.selfCare{
    background-image: url('./images/icon-self-care.svg');
    background-repeat: no-repeat;
    background-color: var(--softOrangeSelfCare);
    background-position: right top;
    padding: 30px 0 0;
    border-radius: 15px; 
}

.dates{
    background-color: var(--darkBlue);
    border-radius: 15px;
    color: white;
    padding: 15px 15px 30px;
    margin: 10px auto 20px;
    
}

.dates h2{
    font-size: 18px;
    font-weight: 400;
}

.head{
    display: flex;
    justify-content: space-between;
}

.dates a{
    display: block;
    color: var(--paleBlue);
    text-decoration: none;
    cursor:text;
    text-align: right;    
    font-size: 20px;
}

.hours{
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

.daily{
    display: none;
    justify-content: space-between;
}

.weekly{
    display: flex;
    justify-content: space-between;
    
}

.monthly{
    display: none;
    justify-content: space-between;
}

.last{
    color: var(--paleBlue);
    font-size: 14px;
    margin: 5PX;
}

@media(min-width:890px){
    body{
        height: 100vh;
    }
    main{
        display: flex;
        width: 65%;
        
    }

    .details{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
    }

    .dates h2{
        font-size: 12px;
    }

    .frecuency{
        flex-direction: column;
        padding: 0 20px;
    }

    .work{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%;
        width: 200px;        
    }

    .play{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%; 
        width: 200px;
    }

    

    .study{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%;
        width: 200px; 
    }

    .exercise{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%; 
        width: 200px;
    }

    .social{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%; 
        width: 200px;
    }

    .selfCare{
        padding: 10px 0 0;
        margin: 0 auto 20px;
        background-size: 15%;
        width: 200px; 
    }

    .dates{
        padding: 15px 30px 15PX 15px;
        margin: 10px 0 0;  
    }

    .daily{
        flex-direction: column;
    }

    .weekly{
        flex-direction: column;
    }

    .monthly{
        flex-direction: column;
    }

    .hours{
        font-size: 30px;
    }

    .last{
        font-size: 10px;
    }
}
